/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

h4 {
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 500%;
  position: relative;
}

p1 {
  color: red;
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
  animation: anim-text 4s steps(29, end) 1s 1 normal both,
              anim-cursor 600ms steps(29, end) infinite;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: left;
}

.box {
  position: absolute;
  background-color: white;
}

@keyframes anim-text {
  from { width: 0; }
  to { width: 500px; }
}

@keyframes anim-cursor {
  from { border-right-color: white; }
  to { border-right-color: transparent; }
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  text-align: center;
  z-index: -1;
  background-image: linear-gradient(#55cdfc, #f7a8b8, #fff, #f7a8b8, #55cdfc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}